.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3bda1;
    padding:1.5em;
}

.nav .logo{
    font-size: 1.5rem;
}

.nav .logo a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.saerch button,
.saerch input{
    background-color: #fff;
    height: 2em;
    border: 0;
    font-size: 1rem;
    font-family: inherit;
}

.saerch input{
    width: 280px;
    padding: 12px;
}

.saerch button{
    width:20px;
    cursor: pointer;
}

@media screen and (max-width:600px) {
    .nav{
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    .saerch input{
        width: 200px;
    }
}