.modal{
    height: 100%;
    width:100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content{
    width:80%;
    height: 80%;
    background-color: #fefecc;
}

.modal-header,
.modal-footer{
    padding: 10px;
    height: 10%;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header button{
    background-color: inherit;
    border: 0;
    cursor: pointer;
}

.modal-title{
    margin: 0;
}

.modal-body{
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    height: 70%;
}

.modal-body div{
    height: 70%;
}

.modal-body div:first-child{
    height: 20%;
}

.modal-body label,
.modal-body input,
.modal-body textarea{
    display: block;
    width: 100%;
    font-size: 1.2rem;
}

.inputs{
    background-color: #eee;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 10px 0 20px 0;
    padding:20px;
    font-family: inherit;
}

.modal-body textarea:focus{
    outline: 0;
}

.modal-body textarea{
    min-height: 90%;
    resize: none;
}

.btn-pry{
    display: inline-block;
    cursor: pointer;
    font-size: 0.9rem;
    margin-left: 2px;
    width: 100px;
    color: #fff;
    padding: 5px;
    background-color: #333;
    border: 0;
}

.btn-pry:hover{
    background-color:#687980;
}

@media screen and (max-width:500px){
    .modal-content{
        width:90%;
        height: 90%;

    }
    .modal-content label{
        font-size:0.9rem;
    }

    .modal-body .inputs{
        font-size:0.9rem;
    }

    .modal-footer div{
        display:flex;
        align-items: center;
        justify-content:start;
    }
    .modal-footer div label{
        font-size: 0.8rem;
    }
}